* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#filtro-tipo {
    width: 90%;
    max-width: 300px;
    cursor: pointer;
}

@media(max-width:600px) {
    .cont-table {
        overflow-x: scroll;
        text-align: center;
    }
}